<div class="jumbotron">
  <div class="jumbotron-mask">
    <h1 class="display-4">Board App</h1>
    <p class="lead">
      シンプルな機能を備えた掲示板アプリです。<br>
      掲示板の新規作成、編集、削除を手軽に行うことができます。<br>
      掲示板へのコメント追加も可能で、コミュニケーションの場としても活用できます。
    </p>
    <hr class="my-4">
    <p>produced by y1tkt.</p>
    <% if @current_user %>
      <%= link_to 'マイページへ', mypage_path, class: 'btn btn-light' %>
    <% else %>
      <%= link_to 'ログイン', 'login', class: 'btn btn-light', role: 'button' %>
      <span class="pl-3 pr-3">or</span>
      <%= link_to '新規登録', new_user_path, class: 'btn btn-light', role: 'button' %>
    <% end %>
  </div>
</div>